//out: ../css/style.css, compress: true, autoprefixer: true
@import "reset";
@import "fonts";
@import "color";
@import "anim";
@import "magnific-popup";

body {
    color: @dark_red;
    font-family: Gothic725BdBT;
    background-color: #fff1c5;
    background-image: url(../img/screen_1_bg.jpg);
}

.nowrap {
    white-space: nowrap;
}

.header {
    z-index: 999;
    position: fixed;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #db0006;

    .logo_wrap {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        box-sizing: border-box;
        width: 19%;
        height: 10vw;
        background-color: #fff;
        border-radius: 0 0 10px 10px;

        .logo {
            width: 40%;
            object-fit: contain;
        }
    }

    .main_menu {
        display: flex;

        &_link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            box-sizing: border-box;
            width: 8vw;
            height: 60px;
            line-height: 1;
            color: #ffdba9;
            text-align: center;
            font-size: 16px;
            font-family: DINPro;
            border-left: 1px solid #f1e1af;
            border-right: 1px solid #f1e1af;

            &:hover {
                background-color: lighten(#db0006, 3%);
            }
        }
    }

    .burger {
        position: relative;
        display: none;
        width: 40px;
        height: 40px;

        &_line {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 5px;
            border-radius: 10px;
            background-color: #fff;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: 5px;
                border-radius: 10px;
                background-color: #fff;
            }

            &::before {
                top: -10px;
            }

            &::after {
                bottom: -10px;
            }
        }
    }
}

.screen_1 {
    position: relative;
    padding: 240px 0 0;
    box-sizing: border-box;
    height: 100vh;
    min-height: 700px;

    &_caption {
        text-align: center;
        font-size: 1.5rem;
        font-family: Gothic725BlkBT;
        text-transform: uppercase;
    }

    .counter {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 10px auto 0;
        padding: 0 50px 0 25px;
        box-sizing: border-box;
        width: 500px;
        height: 140px;
        line-height: 140px;
        color: #fff1c5;
        font-size: 5.75rem;
        border-radius: 15px;
        background-color: @dark_red;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 7px;
            background-color: @dark_red;
        }

        &_img {
            height: 80%;
        }
    }

    .hands {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 55vh;
        min-height: 450px;
        background-image: url(../img/hands_bg.png);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        animation: hand_bg 3s linear infinite;

        .like_1 {
            position: absolute;
            top: 50px;
            left: 10%;
            width: 60px;
            height: 45px;
            fill: @red;
            opacity: 0;
            animation: like 5s infinite;
        }

        .like_2 {
            position: absolute;
            top: 100px;
            left: 23%;
            width: 101px;
            height: 75px;
            fill: @dark_red;
            opacity: 0;
            animation: like 5s 2s infinite;
        }

        .like_3 {
            position: absolute;
            top: 70px;
            left: 45%;
            width: 60px;
            height: 45px;
            fill: @dark_red;
            opacity: 0;
            animation: like 5s 1s infinite;
        }

        .like_4 {
            position: absolute;
            top: 120px;
            right: 20%;
            width: 84px;
            height: 63px;
            fill: @red;
            opacity: 0;
            animation: like 5s 4s infinite;
        }

        .like_5 {
            position: absolute;
            top: 50px;
            right: 5%;
            width: 60px;
            height: 45px;
            fill: @dark_red;
            opacity: 0;
            animation: like 5s 3s infinite;
        }

        .hand {
            position: absolute;
            width: 250px;
        }

        .left_hand {
            left: 30%;
            bottom: -130px;
            transform-origin: bottom;
            animation: hand_left 3s linear infinite;
        }

        .center_hand {
            width: 300px;
            left: ~"calc(50% - 150px)";
            bottom: -150px;
            transform-origin: bottom;
            animation: hand_center 3s .3s linear infinite;
        }

        .right_hand {
            right: 30%;
            bottom: -50px;
            transform-origin: bottom;
            animation: hand_right 3s .5s linear infinite;
        }
    }
}

.screen_2 {
    position: relative;
    padding: 50px 17% 50px 21%;
    box-sizing: border-box;
    font-family: Gothic725BlkBT;
    background-color: #ffbc0d;
    background-image: url(../img/screen_2_bg.jpg);

    &_caption {
        color: @red;
        text-align: center;
        font-size: 2.75rem;
    }

    &_paragraph {
        margin-top: 30px;
        font-size: 1.7rem;
    }

    .stars {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .star {
            font-size: 1.875rem;
            padding: 0 10px;
            box-sizing: border-box;

            &_photo {
                text-align: center;

                &_img {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                }
            }

            &_info {
                margin-top: 20px;

                &_name {
                    text-transform: uppercase;
                }
            }

            .date {
                margin-top: 10px;
                display: inline-block;
                padding: 5px 10px;
                box-sizing: border-box;
                color: #ffbc0d;
                border-radius: 5px;
                background-color: @dark_red;
            }

            .address {
                margin-top: 10px;
            }
        }
    }

    .other_stars {
        margin-top: 20px;
        text-align: center;

        &_button {
            position: relative;
            z-index: 0;
            display: inline-block;
            padding: 10px 30px;
            box-sizing: border-box;
            width: 330px;
            color: #fff;
            font-size: 1.812rem;
            font-family: Gothic725BdBT;
            border-radius: 15px;
            text-transform: uppercase;
            background-color: @red;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 7px;
                background-color: @red;
            }
        }
    }

    .calendar {
        z-index: 11;
        display: none;
        position: absolute;
        bottom: 15px;
        left: 40%;
        padding: 50px 40px;
        box-sizing: border-box;
        width: 800px;
        height: 600px;
        border: 5px solid #fff;
        border-radius: 15px;
        background-color: @red;

        .day {
            display: inline-block;
            width: 13.5%;
            text-align: center;
            color: #fff1c5;
            font-size: 1.375rem;
            text-transform: uppercase;
        }

        .date_list {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .date {
                position: relative;
                margin: 8px;
                width: 84px;
                height: 84px;
                border-radius: 50%;
                background-color: #fff;

                &_number {
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    color: @red;
                    font-size: 1.375rem;
                }

                .star_date {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-size: cover;
                    cursor: pointer;

                    &_info {
                        display: none;
                        z-index: 15;
                        position: absolute;
                        left: 20%;
                        bottom: 50%;
                        padding: 20px;
                        box-sizing: border-box;
                        font-size: 1rem;
                        border-radius: 5px;
                        background-color: #fff;
                        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.22);
                        cursor: default;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            left: 20px;
                            border-top: 10px solid #fff;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                        }

                        &_name {
                            color: #a72923;
                            white-space: nowrap;
                        }

                        &_prof {
                            margin-top: 5px;
                            color: #a2a2a2;
                            font-size: .875rem;
                            text-transform: lowercase;
                        }

                        &_day {
                            margin: 15px 0;
                            color: #ffcf46;
                        }

                        &_address {
                            color: #242424;
                            font-size: .875rem;
                        }
                    }
                }

                .macdonald {
                    background-image: url(../img/star_1.jpg);
                }

                .bond {
                    background-image: url(../img/star_2.jpg);
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-last-child(2),
                &:nth-last-child(1) {
                    background-color: transparent;
                }
            }
        }

        .close_calendar_button {
            position: absolute;
            right: 20px;
            bottom: 20px;
            display: block;
            width: 30px;
            height: 30px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%) rotate(45deg);
                display: block;
                width: 30px;
                height: 5px;
                border-radius: 5px;
                background-color: #fff;
            }

            &::after {
                transform: translate(-50%) rotate(-45deg);
            }

            &:hover {
                opacity: .9;
            }
        }
    }
}

.screen_3 {
    position: relative;
    padding: 50px 17% 70px;
    box-sizing: border-box;
    display: flex;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 10%;
        height: 80%;
        width: 10%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &::before {
        left: 50px;
        background-image: url(../img/heart_left.png);
        background-position: left;
    }

    &::after {
        right: 50px;
        background-image: url(../img/heart_right.png);
        background-position: right;
    }

    .img_wrap {
        width: 35%;

        .child {
            width: 100%;
        }
    }

    .instagram {
        width: 65%;

        &_caption {
            color: @red;
            font-size: 2.5rem;
            font-family: Gothic725BlkBT;

            &:first-child {
                text-transform: uppercase;
            }

            &:last-child {
                font-size: 2.25rem;
            }

            .red {
                color: @dark_red;
            }
        }

        &_photo {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 40vw;

            &_img {
                margin-bottom: 10px;
                width: 7.5vw;
                height: 7.5vw;
                border-radius: 50%;
            }
        }
    }
}

.screen {
    &_header {
        padding: 0 10px;
        box-sizing: border-box;
        height: 200px;
        line-height: 200px;
        font-size: 2.75rem;
        text-align: center;
        font-family: Gothic725BlkBT;
        text-transform: uppercase;
        cursor: pointer;
    }

    &_paragraph {
        display: none;
        padding: 50px 17% 50px;
        box-sizing: border-box;
        font-size: 1.7rem;
    }
}

.screen_4 {
    .screen_header {
        position: relative;
        color: @red;
        background-color: @yellow;

        .waves {
            position: absolute;
            bottom: 0;
            left: 12%;
            width: 30%;
            transform: translateY(90%);
        }
    }

    .screen_paragraph {
        margin-top: 0;
        padding: 0 17% 50px;

        &:nth-child(2) {
            margin-top: 1%;
            padding: 50px 17% 50px;
        }
    }
}

.screen_5 {
    .screen_header {
        color: #fff1c5;
        background-color: @dark_red;
    }

    .screen_paragraph {
        margin-top: 0;
        padding: 0 17% 50px;

        &:nth-child(2) {
            margin-top: 1%;
            padding: 50px 17% 50px;
        }

        .mcd_link {
            color: @red;
            &:hover {
                color: lighten(@red, 10%);
            }
        }
    }
}

.sup {
    display: inline-block;
    transform: translateY(-7px);
    font-size: 1rem;
}

.locker {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@import "media";
